<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name></display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- DWR Definition -->
	<servlet>
		<display-name>DWR Servlet</display-name>
		<servlet-name>dwr-invoker</servlet-name>
		<servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
		<init-param>
			<param-name>activeReverseAjaxEnabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>org.directwebremoting.extend.ServerLoadMonitor</param-name>
			<param-value>org.directwebremoting.impl.PollingServerLoadMonitor</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dwr-invoker</servlet-name>
		<url-pattern>/dwr/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>packageExplorer</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.PackageExplorerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>packageExplorer</servlet-name>
		<url-pattern>/packageExplorer/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>deploy</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.DeployServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>deploy</servlet-name>
		<url-pattern>/deploy/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>share</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.ShareServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>share</servlet-name>
		<url-pattern>/share/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>projectapi</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.ProjectAPIServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>projectapi</servlet-name>
		<url-pattern>/projectapi/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rwfileauth</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.RWFileAuthServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>rwfileauth</servlet-name>
		<url-pattern>/rwfileauth/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>gitcmd</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.GitCmdServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>gitcmd</servlet-name>
		<url-pattern>/gitcmd/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>fileSearch</servlet-name>
		<servlet-class>cn.edu.pku.sei.servlet.FileSearchServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>fileSearch</servlet-name>
		<url-pattern>/fileSearch/*</url-pattern>
	</servlet-mapping>
	<servlet>
        <servlet-name>window</servlet-name>
        <servlet-class>cn.edu.pku.sei.servlet.WindowServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>window</servlet-name>
        <url-pattern>/window/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tenxCloud</servlet-name>
        <servlet-class>cn.edu.pku.sei.servlet.TenxCloudServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>tenxCloud</servlet-name>
        <url-pattern>/tenxcloud/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>monitor</servlet-name>
        <servlet-class>cn.edu.pku.sei.servlet.MonitorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>monitor</servlet-name>
        <url-pattern>/monitor/*</url-pattern>
    </servlet-mapping>

	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>cn.edu.pku.sei.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/packageExplorer/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/deploy/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/share/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>RWFileAuthFilter</filter-name>
		<filter-class>cn.edu.pku.sei.filter.RWFileAuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RWFileAuthFilter</filter-name>
		<url-pattern>/packageExplorer/*</url-pattern>
	</filter-mapping>
	
</web-app>